hidden {
  display: none;
}

.background {
  background: rgb(99, 133, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.fireball {
  background-size: 100%;
  background-image: url(../img/fireball.gif);
}

.lava {
  background-size: 100%;
  background-image: url(../img/lava.gif);
}

.elevator {
  background: rgb(229, 229, 229);
}

.wall {
  background-size: 100%;
  background-image: url(../img/wall.png);
}

.actor {
  position: absolute;
}

.coin {
  background-size: 100%;
  background-image: url(../img/coin.gif);
}

.player {
  background-size: 100%;
  background-image: url(../img/mario.png);
}

.lost .player {
  background-size: 100%;
  background-image: url(../img/mario-lose.png);
}

.won .player {
  background-size: 100%;
  background-image: url(../img/mario-win.png);
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
